* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background: url(./images/footer_text.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 100%;
  background-position-y: 100%;
}
:root {
  --transparent-bg-color: rgba(255, 255, 255, 0.37);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

header h1 {
  margin: 0;
  margin-bottom: 5px;
}
header h2 {
  margin: 0;
  font-size: 20px;
}
h2 {
  font-size: 20px;
}

/* tabs interface */
.tabs {
  font-family: Arial, sans-serif;
  width: 85%;
  margin: auto;
}

.tab-buttons {
  display: flex;
  /* border-bottom: 2px solid #b01616;   */
}
.curated-rubric {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  flex-wrap: wrap;
  gap: 10px;
}
.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.curated-rubric p {
  margin: 0 0px 0 0;
}
.upload-icon {
  font-size: 44px;
  color: #2c2c2c;
  cursor: pointer;
}
.upload-icon:hover {
  color: #000000;
}
.tab-button {
  padding: 12px 10px;
  width: 180px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
}

.tab-button:hover {
  color: rgb(0, 75, 205);
}

.tab-button.active {
  /* border-bottom: 2px solid #007bff; */
  font-weight: bold;
}

.tab-content {
  border: 1px solid #ccc;
  border-top: none;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.assignment_section,
.grading_section {
  flex: 1;
  width: 100%;
  min-width: 40ch;
}

textarea {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
  /* flex: 1; */
  box-sizing: border-box;
  resize: none;
  width: 96%;
}

.assignment_section {
  border-color: #ccc;
  border-style: solid;
  border-width: 0;
  border-block-end-width: 1px;
  padding-block-end: 10px;
}

.step1 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.step2 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.assignment_section p {
  margin-top: 0px;
}
.grading_section h2 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.grading_section p {
  margin-top: 0px;
}

.graded_feedback {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  white-space: pre-wrap;
  border-radius: 10px;
  background-color: var(--transparent-bg-color);
  /* flex: 1; */
  /* min-width: 0; */
}

.center {
  text-align: center;
  margin: 0;
  padding: 15px 0 0 0;
}

.grade-button {
  padding: 10px 20px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.grade-button:hover {
  background-color: #ffcdd2;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
}
select {
  padding: 10px 20px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
}

footer {
  font-size: 10px;
  /* margin: 20px 0; */
  /* color: aliceblue; */
  /* background-color: rgb(133, 152, 158); */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  /* position: absolute; */
  /* left: 0; */
  z-index: -2;
}

.graded_feedback * {
  margin: 0;
}
/* .graded_feedback:empty:before {
  content: attr(shalom);
  color: gray;
} */
.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: rgb(255, 0, 0);
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*  Grading Rubric*/
.select_rubric {
  /* flex: 1; */
  display: flex;
  /* flex-wrap: wrap; */
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
}
.select_rubric h2 {
  margin-top: 0;
}

.rubric_details_container {
  border-color: #ccc;
  border-style: solid;
  border-width: 0;
  /* border-block-end-width: 1px; */
  /* padding-block-end: 10px; */
}
.rubric_details {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 10px;
  /* margin-right: 20px; */
}
.filename {
  display: inline-block;
}
.view_rubric {
  flex: 3;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 15px;
  background-color: var(--transparent-bg-color);
}
.confirm-change {
  width: 35%;
  min-width: 28ch;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px;  */
}
.confirm-change .load {
  margin: 10px 0;
}
.coming {
  text-align: center;
  font-style: italic;
  height: 497px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming p {
  margin: 0;
}
.load {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media (min-width: 909px) {
  .assignment_section {
    /* border-right: 1px solid #ccc; */
    border-block-end-width: 0;
    border-inline-end-width: 1px;
  }
}

@media (min-width: 960px) {
  .main_container {
    /* background-color: #521b1b; */
  }
}
