@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: auto;
}

.tab-buttons {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.3s;
}

.tab-button:hover {
  background: #f0f0f0;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}
.home_flex {
  display: flex;
  justify-content: space-between;
}
