* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p,
label {
  font-size: 15px;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #f6fef7;
  /* background: radial-gradient(80.99% 100% at 50% 0%, #fbfffb 0%, #eefcf4 100%); */
  /* radial-gradient(50% 123.47% at 50% 50%, #efe7c8 0%, #b9e5b8 100%),
      linear-gradient(301.28deg, #00ff00 0%, #5948dd 100%),
      linear-gradient(294.84deg, #5ce45a 0%, #d30000 100%),
      linear-gradient(52.29deg, #958ed4 0%, #00ff85 100%),
      radial-gradient(100% 138.69% at 100% 0%, #88cb94 0%, #abd49d 100%),
      radial-gradient(70.41% 100% at 50% 0%, #d5b300 0%, #91c39d 100%);
    background-blend-mode: screen, screen, lighten, overlay, lighten, difference,
      normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
#root {
  background: url(./images/footer_text.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 100%;
  background-position-y: 100%;
}
:root {
  --transparent-bg-color: rgba(255, 255, 255, 0.716);
  --red-light: #ffcdd2;
  --red: #f44336;
  --green-light: #c8e6c9;
  --green: #4caf50;
  --blue-light: #bbdefb;
  --blue: #2196f3;
}

a {
  color: #145b94;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

header h1 {
  margin: 0;
  margin-bottom: 5px;
}
header h2 {
  margin: 0;
  font-size: 20px;
}
h2 {
  font-size: 19px;
}

/* tabs interface */
.tabs {
  font-family: Arial, sans-serif;
  width: 85%;
  margin: auto;
}

.tab-buttons {
  display: flex;
}

.curated-rubric {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  flex-wrap: wrap;
  gap: 10px;
}
.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.flex-row-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  gap: 10px;
}
.border {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.curated-rubric p {
  margin: 0 0px 0 0;
}
.error {
  color: var(--red);
}
.upload-icon {
  font-size: 44px;
  color: #2c2c2c;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}
.upload-icon:hover {
  color: var(--red);
}
.tab-button {
  padding: 12px 10px;
  width: 180px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
}

.tab-button:hover {
  color: rgb(0, 75, 205);
}

.tab-button.active {
  color: #393939;
}

.tab-content {
  border-top: none;
  border: 1px solid #ccc;
  border-top: none;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.542);
  /* border-radius: 0 0 10px 10px; */
}
.main_container_2 {
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 20px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.542);
}

.assignment_section,
.grading_section {
  flex: 1;
  width: 100%;
  min-width: 40ch;
}

textarea {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  /* flex: 1; */
  resize: none;
  width: 96%;
  padding: 5px 7px;
  margin-top: 10px;
}

.assignment_section {
  border-color: #ccc;
  border-style: solid;
  border-width: 0;
  border-block-end-width: 1px;
  padding-block-end: 10px;
}

.step1 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.step2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  display: inline-block;
}

.grading_section h2 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.grading_section p {
  margin-top: 0px;
}

.graded_feedback {
  width: 100%;
  height: 435px;
  overflow-y: auto;
  padding: 8px 11px;
  white-space: pre-wrap;
  background-color: var(--transparent-bg-color);
  margin-bottom: 51px;
}
.detailed_feedback {
  width: 100%;
  height: 430px;
  overflow-y: auto;
  padding: 10px;
  background-color: var(--transparent-bg-color);
  text-align: left;
  margin-top: 20px;
}

.center {
  text-align: center;
  margin: 0;
  padding: 15px 0 0 0;
}

.grade-button {
  padding: 10px 20px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  background-color: #efefef;
}
.grade-button:hover {
  background-color: var(--red-light);
}
.get_details_button {
  padding: 10px 20px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  background-color: #efefef;
}
.get_details_button:hover {
  background-color: var(--green-light);
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
}

/* select {
    padding: 10px 20px;
    font-size: 16px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
  } */

footer {
  font-size: 10px;
  /* margin: 20px 0; */
  /* color: aliceblue; */
  /* background-color: rgb(133, 152, 158); */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
}
ul {
  font-size: 15px;
}
li {
  padding: 5px;
}
.graded_feedback * {
  margin: 0;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: rgb(255, 0, 0);
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*  Grading Rubric*/
.select_rubric {
  /* flex: 1; */
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  width: 100%;
}
.select_rubric h2 {
  margin-top: 0;
}

.rubric_details {
  width: 100%;
}
.filename {
  display: inline-block;
}
.view_rubric {
  flex: 3;
  padding: 0 15px;
  background-color: var(--transparent-bg-color);
}

.view_rubric h1,
.view_rubric h2 {
  font-size: 19px;
  margin-bottom: 0;
}

.view_rubric td {
  padding: 5px;
}
.confirm-change {
  width: 35%;
  min-width: 28ch;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px;  */
}
.confirm-change .load {
  margin: 10px 0;
}
.detailed_container {
  min-height: 530px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.tips {
  background-color: var(--transparent-bg-color);
  max-width: 880px;
  min-height: 740px;
  padding: 5px 20px;
  text-align: left;
  margin-top: 18px;
  /* overflow-y: auto; */
  /* display: flex; */
  /* gap: 10px; */
  /* align-items: center; */
}
.load {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  table-layout: fixed;
}
td,
th {
  word-wrap: break-word;
}

table thead th {
  color: #000000;
  background: var(--blue-light);
}

table td,
table th {
  text-align: center;
  padding: 10px;
}

table td {
  border: 1px solid #f1f1f1;
}

table tr:nth-child(even) {
  background: #f8f8f8;
}
.error {
  margin-top: 50px;
  color: var(--red);
}

@media (min-width: 909px) {
  .assignment_section {
    /* border-right: 1px solid #ccc; */
    border-block-end-width: 0;
    border-inline-end-width: 1px;
  }
}

@media (min-width: 960px) {
  .main_container {
    /* background-color: #521b1b; */
  }
}
